*{margin: 0; padding: 0;}
header{
    width: 100%;
    height: 100vh;
}
.navsection{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(lightblue,green);
}
.logo h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    animation: aagepiche1 3s linear infinite;
    animation-direction: alternate;
    
}
@keyframes aagepiche1 {
    from{ padding-left: 40px;}
    to{ padding-right: 40px;};
}
.logo h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    animation: aagepiche 2.5s linear infinite;
    animation-direction: alternate;
    
}
@keyframes aagepiche {
    from{ padding-left: 80px;}
    to{ padding-right: 20px;};
}
nav{
    width: 60%;
   /* height: 20vh;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:whitesmoke;
    font-weight: 900;
    position: relative;
}
/*nav a:first-child{
    color: #4458dc;
}*/
nav a:before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0%;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid #4458dc;
    transition: all 0.4s linear;
}
nav a:hover:before{
    width: 100%;
}
body{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(#0f174d 60%, #854fee 40%);
}
